# james's aliases 

# common servers
alias bliz="ssh -Y z3479352@blizzard.ccrc.unsw.edu.au"
alias mons="ssh -Y z3479352@monsoon.ccrc.unsw.edu.au"
alias mael="ssh -Y z3479352@maelstrom.ccrc.unsw.edu.au"
alias squa="ssh -Y z3479352@squall.ccrc.unsw.edu.au"
alias ccrcpi="ssh -Y weather@129.94.166.252"
alias raij="ssh -Y jkg561@raijin.nci.org.au"
alias qraij="ssh -Y jkg561@raijin.nci.org.au qstat -u jkg561"

# kill and remount encrypted partition on storm (requires password, obviously)
# (useful if sth happens to the mount, causing processes to fall into uninterruptible sleep)
alias remount-health="killall encfs ; encfs --idle --ondemand /srv/ccrc/data48/z3479352/health ~/private/health"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

#####
# james: commands i'm interested in but aren't ready to implement
#####

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
# alias grep='grep --color=auto'
# alias fgrep='fgrep --color=auto'
# alias egrep='egrep --color=auto'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
# alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update'

# View HTTP traffic
# alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
# alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Recursively delete `.DS_Store` files
# alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Hide/show all desktop icons (useful when presenting)
# alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
# alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
# alias stfu="osascript -e 'set volume output muted true'"
# alias pumpitup="osascript -e 'set volume 7'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
# alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
# (james: not really needed since i use control+shift+power to lock instead)
# alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

