# james's .gitconfig

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

# [diff "bin"]
# 	# Use `hexdump` to diff binary files
# 	textconv = hexdump -v -C

# [help]
# 
# 	# Automatically correct and execute mistyped commands
# 	autocorrect = 1

[push]

	# Use the Git 1.x.x default to avoid errors on machines with old Git
	# installations. To use `simple` instead, add this to your `~/.extra` file:
	# `git config --global push.default simple`. See http://git.io/mMah-w.
	default = matching
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

# URL shorthands

# [url "git@github.com:"]
# 
# 	insteadOf = "gh:"
# 	pushInsteadOf = "github:"
# 	pushInsteadOf = "git://github.com/"
# 
# [url "git://github.com/"]
# 
# 	insteadOf = "github:"
# 
# [url "git@gist.github.com:"]
# 
# 	insteadOf = "gst:"
# 	pushInsteadOf = "gist:"
# 	pushInsteadOf = "git://gist.github.com/"
# 
# [url "git://gist.github.com/"]
# 
# 	insteadOf = "gist:"

[user]
    name = Rensa
    email = me@rensa.co

# filters used by github for mac and git-lfs
# hopefully they don't break anything on other machines!

[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

